@charset "utf-8";

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light.eot');
    src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-light.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman.eot');
    src: url('../fonts/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-roman.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium.eot');
    src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium.woff') format('woff'),
         url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold.eot');
    src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/museosanscyrl_0.eot');
    src: url('../fonts/museosanscyrl_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_0.woff2') format('woff2'),
         url('../fonts/museosanscyrl_0.woff') format('woff'),
         url('../fonts/museosanscyrl_0.ttf') format('truetype'),
         url('../fonts/museosanscyrl_0.svg#museo_sans_cyrl300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('../fonts/museosanscyrl_2.eot');
    src: url('../fonts/museosanscyrl_2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_2.woff2') format('woff2'),
         url('../fonts/museosanscyrl_2.woff') format('woff'),
         url('../fonts/museosanscyrl_2.ttf') format('truetype'),
         url('../fonts/museosanscyrl_2.svg#museo_sans_cyrl700') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'helveticaneuecyrlight';
	font-size: 14px;
	line-height: 1.2;
	overflow-x: hidden;
	/*color: #472275;*/
}
a{
	text-decoration: underline;
	display: block;
}
	a:hover{
		text-decoration: none;
	}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	/*font-family: 'PFM';*/
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.b-header{
	text-align: left;
}
	.b-header .b-menu {
		background-image: url("../i/back-menu.jpg");
	}	
		.b-header .b-menu .b-block {

		}
			.b-header .b-menu .b-block ul {

			}
				.b-header .b-menu .b-block ul li {
					float: left;
					margin-right: 30px;
				}
					.b-header .b-menu .b-block ul li a {
						font-size: 12px;
						color: rgb(172, 171, 172);
						padding: 7px 0 10px;
					}
	.b-header .b-header-main {
		background-image: url("../i/bac-asphalt.jpg");
	}
		.b-header .b-header-main .b-block {

		padding-top: 24px;padding-left: 18px;}
			.b-header .b-header-main .b-block .stamp {
				position: absolute;
				right: 0;
				margin-right: -120px;
				width: 230px;
				height: 114px;
				background-position: 0% 100%;
				background-image: url("../i/tire-stamp.png");
			}
			.b-header .b-header-main .b-block > .left{

			}
				.b-header .b-header-main .b-block > .left img {

				}
				.b-header .b-header-main .b-block > .left .right {
					
				}
					.b-header .b-header-main .b-block > .left .right h1{
						font-size: 27px;
						font-family: "museo_sans_cyrl700";
						/* color: #fff; */
						text-transform: uppercase;
					}
						.b-header .b-header-main .b-block > .left .right h1 span{
							font-family: "museo_sans_cyrl300";
						}
					.b-header .b-header-main .b-block > .left .right h2 {
						color: #fff;
					}
						.b-header .b-header-main .b-block > .left .right h2 a{
							color: #fff;
						}
			.b-header .b-header-main .b-block > .right{

			}
				.b-header .b-header-main .b-block > .right .contacts{

				}
					.b-header .b-header-main .b-block > .right .contacts a {
						font-size: 17px;
						font-family: "helveticaneuecyrroman";
						color: rgb(255, 255, 255);
					}
					.b-header .b-header-main .b-block > .right .contacts input{

					}
					.b-header .b-header-main .b-block > .right .contacts button{
						font-size: 14px;
						font-family: "helveticaneuecyrmedium";
						color: rgb(31, 31, 31);
						text-transform: uppercase;
						text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
						border:none;
					}
	.b-header .b-sub-menu {

	}
		.b-header .b-sub-menu .b-block {

		}
			.b-header .b-sub-menu .b-block ul {

			}
				.b-header .b-sub-menu .b-block ul li {

				}
					.b-header .b-sub-menu .b-block ul li a{
					
					}

@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}